@page
@model MiSpyWebAppPortal.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<div class="text-center">
    <br />
    <div class="container" id="indexSideLeft">
        <div class="row">
            <div class="col-6">
                <h1>Help</h1>
                <br />
                <h3>Help, Support and Frequently Asked Questions about the Mi-Spy System</h3>
                <br />
                <br />
            </div>
            <div class="col-6">
                <!--Image or extra information goes here-->
            </div>
        </div>
        <br />
    </div>
</div>
